<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        <li class="item">
            <a class="link" href="{{ site.url }}#papers">Papers</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}#software">Software</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}#talks">Talks</a>
        </li>
        <li class="item">
            <a class="link" href="{{ site.url }}#research-service">Service</a>
        </li>
    </ul>
</nav>
